body {
    color: rgb(185, 55, 172);
    background: rgb(53, 49, 49);
    margin: 0px;
    font-family: Edu VIC WA NT Beginner;
}
header {
    border-bottom: solid 2px rgb(236, 15, 214);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 178);
}
section {
    background: rgb(73, 4, 147);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right:20px
}
.chamada-texto {
    margin-right: 5%;
  }

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }